<form (submit)="onSubmit()"
    style="align-content:center; margin: auto; padding: 10px; margin-top: 20pt; text-align: center;;">
    <mat-card>
        <mat-card-title>Iniciar sesión</mat-card-title>
        <p>
            <mat-form-field class="example-full-width" style="align-content:center; width: 50%">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="" [(ngModel)]="user.login" value="" name="login">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="example-full-width" style="align-content:center; width: 50%">
                <mat-label>Pass</mat-label>
                <input matInput placeholder="" [(ngModel)]="user.pass" value="" name="pass" type="password">
            </mat-form-field>
        </p>
        <button mat-raised-button color="accent" style="align-content:center;" type="submit">Iniciar sesión</button>
        <button mat-raised-button color="accent" style="align-content:center; margin-left: 20px;"
            (click)="irRegistrar()">Registrarse</button>

    </mat-card>
</form>